.postForm {
  padding: 10px;
  margin: 4rem;
}


.postForm > textarea {
  width: 20rem;
  height: 5rem;

}


.formTitle {
  font-style: italic;
  margin-left: 4rem;
  margin-bottom: 0;
}

.coloredButton {
  border-radius: 8px;
  weight: 16px;
  height: 16px;
}

.post {
  margin: 4rem;
  border-radius: 4px;
}

.post h3 {
  padding-top: 10px;
  margin: 0;
}
